.container-login {
  padding: 60px 80px 40px 80px;
  margin: 20px 120px 20px 120px;
  background-color: white;
}

.container-signup {
  padding: 80px 80px 10px 80px;
  margin: 20px 120px 20px 120px;
  background-color: white;
}

.container-password {
  padding: 80px 80px 10px 80px;
  margin: 20px 120px 20px 120px;
  background-color: white;
}
