// Specific CSS for your home-page
@import '../config/fonts';
@import '../components/banner';
@import '../components/home-searchbar-middle';
@import '../components/home-life-card';

.container {
  margin-left: 60px;
}

.container a {
  color: white;
  padding: 8px 48px;
  border-radius: 4px;
  font-weight: light;
  background: #FF385C;
  transition: background 0.3s ease;
  &:hover {
    background: #ffaec0;
    color: white;
    text-decoration: none;
  }
}

.card {
  padding-bottom: 50px;
}
