.container-lives {
  padding: 60px 80px 40px 80px;
  margin: 20px 80px 20px 80px;
  background-color: white;
}

.container-lives {
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

.container-cards {
  margin-top: 50px;
}

.container-create-life {
  padding: 60px 80px 40px 80px;
  margin: 20px 60px 20px 150px;
  background-color: white;
}

.container-create-life {
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

.text {
  margin-left: 30px;
}
