<div class="container container-password">
  <h2>Forgot Your Password?</h2>
  <p>Please enter the email address you signed up with and we will send you the instructions needed to reset!</p>
  <br>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit, "Reset", class: "btn btn-normal" %>
    </div>
  <% end %>
  <br>
  <br>
</div>

  <%# render "devise/shared/links" %>
