<div class="footer">
  <div class="footer-logo">
    <%= cl_image_tag("https://res.cloudinary.com/rentmylife/image/upload/v1614249655/assets/Logo_new_ujtxee.png") %>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> from Batch 530
  </div>
</div>
