<div class="banner">
  <div class="container">
    <h1>What is your Dream LIVE? find out!</h1>
    <!-- <p>Change your life and learn to code at one of our campuses around the world.</p> -->
    <%= link_to "Book your first LIVE now!", lives_path %>
  </div>
</div>

<div class="search-middle row g-4">
  <div class="col-sm-3 column-start">
    <label for="input-city" class="form-label">City</label>
    <input type="text" class="form-control" placeholder="Where do you want to go?" id="input-city">
  </div>
  <div class="col-sm column">
    <label for="input-journey-start" class="form-label">Journey Start</label>
    <input type="text" class="form-control" placeholder="When?" d="input-journey-start">
  </div>
  <div class="col-sm column">
    <label for="input-journey-end" class="form-label">Journey End</label>
    <input type="text" class="form-control" placeholder="When?" id="input-journey-end">
  </div>
  <div class="col-sm-4 column">
    <label for="input-specific-wish" class="form-label">Filter</label>
    <input type="text" class="form-control" placeholder="Any specific wishes for your journey?" id="input-specific-wish">
  </div>
</div>
