<div class="banner">
  <div class="container">
    <h1>What is your Dream LIVE? find out!</h1>
    <!-- <p>Change your life and learn to code at one of our campuses around the world.</p> -->
    <%= link_to "Book your first LIVE now!", lives_path %>
  </div>
</div>
