.btn-normal {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: light;
  background: #ff385c;
  transition: background 0.3s ease;
}

.btn-normal:hover {
  background: #ffaec0;
  color: white;
  text-decoration: none;
}

.btn-large {
  color: white;
  padding: 12px 48px;
  border-radius: 4px;
  font-weight: light;
  background: #ff385c;
  transition: background 0.3s ease;
}

.btn-large:hover {
  background: #ffaec0;
  color: white;
  text-decoration: none;
}

.btn-move {
  margin-left: 200px;
}

.btn-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: light;
  background: green;
  transition: background 0.3s ease;
}

.btn-green:hover {
  background: #89b890;
  color: white;
  text-decoration: none;
}
