.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 0;
  border-radius: 0;
  padding-bottom: 50px;
  background: #ffffff;
}

.card-lives-all {
  width: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  margin: 15px;
  img {
    width: auto;
    height: 189px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.card-lives-content {
  padding: 30px;
}

.card-lives-button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px
}

// PROFILE PAGE CARDS

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

.card-product img {
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
