.container-general {
  padding: 60px 80px 30px 80px;
  margin: 20px 100px 0px 100px;
  background-color: white;
}

.container-narrow {
  padding: 60px 80px 30px 80px;
  margin: 20px 180px 0px 180px;
  background-color: white;
}

.container-general {
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

.container-narrow {
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

.container-home {
  background: #ffffff;
}

.container-profile {
  margin-bottom: 40px;
}

.container-life {
  padding-left: 40px;
  padding-right: 60px;
}

.container-life-booking {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}

.container-life img {
  padding-bottom: 20px;
}
