.container-general {
  padding: 60px 80px 30px 80px;
  margin: 20px 100px 0px 100px;
  background-color: white;
}

.container-general {
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}
