.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 0;
  border-radius: 0;
  padding-bottom: 50px;
}

.card-header {
  padding: 50px;
  font-weight: bold;
  border-bottom: 0;
  margin-top: 34px;
  padding-bottom: 29px;
  background: white;
  margin-left: 52px;
}

.card-life {
  width: 300px;
  height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  img {
    width: 260px;
    height: 189px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    object-fit: cover;
  }
}

.card-content {
  padding: 20px;
  padding-top: 30px;
  p {
    height: 38px;
  }
}

.card-title {
  font-weight: bold;
}
