.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 0;
  border-radius: 0;
}

.card-header {
  padding: 70px;
  font-weight: bold;
  border-bottom: 0;
  margin-top: 10px;
  background: white;
}

.card-life {
  width: 300px;
  height: 400px;
  border: 1px solid;
  border-radius: 15px;
  img {
    width: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.card-content {
  padding: 20px;
  padding-top: 30px;
}

.card-title {
  font-weight: bold;
}
