.search-middle {
  padding: 20px 30px 15px;
  background-color: #D4D4D4;
  margin-bottom: 40px;
}

.column-start {
  padding: 10px;
  margin-right: 10px;
  label {
    margin-left: 10px;
    margin-bottom: 0;
  }
  input {
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid;
  }
}

.column {
  border-left: 1px solid #B3B3B3;
  padding: 10px;
  margin-right: 10px;
  label {
    margin-left: 10px;
    margin-bottom: 0;
  }
  input {
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid;
  }
}

input::placeholder {
  font-style: italic;
}
