.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 0;
  border-radius: 0;
  padding: 50px;
  padding-bottom: 150px;
  margin-bottom: 50px;
}

.card-header {
  padding: 50px;
  font-weight: bold;
  border-bottom: 0;
  margin-top: 10px;
  background: white;
}

.card-life {
  width: 300px;
  height: 400px;

  border: 1px solid #9C9C9C;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  img {
    width: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.card-content {
  padding: 20px;
  padding-top: 30px;
}

.card-title {
  font-weight: bold;
}
