.navbar {
  padding: 0 80px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  max-height: 80px;
  margin: 12px;
}

.nav-item {
  padding: 16px;
}
