.navbar {
  padding: 0 80px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #f4f4f4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  max-height: 80px;
  margin: 12px;
}

.nav-item {
  padding: 16px;
}

#avatar-items {
  display: flex;
}

.avatar img {
  width: 40px !important;
  border-radius: 50% !important;
}
