.searchbar {
  padding: 10px 20px 10px 20px;
  background-color: white;
  width: 522px;
  height: 80px;
  position: absolute;
  border-radius: 69px;
  top: 100px;
  right: 572px;
  padding: 5px;
  form {
    padding: 20px;
    padding-left: 44px;
    padding-top: 3px;
  }
  label {
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    width: 494px;
    padding-left: 9px;
    margin-bottom: 0;
  }
  input {
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid;
    vertical-align: middle;
    width: 397px;
    margin-left: 6px;
    padding-top: 0;
  }
}
